name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  quality:
    name: Code Quality
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        cache: 'pip'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install flake8
        
    - name: Lint with flake8
      # First, stop the build if there are Python syntax errors or undefined names; then run additional style checks
      # with exit-zero (treating all errors as warnings) and a 127-character maximum line length.
      run: |
        # E9,F63,F7,F82 checks for syntax errors or undefined names
        flake8 src/ --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings for these additional style checks.
        flake8 src/ --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
